html,
body {
	padding: 0;
	margin: 0;
	font-family: Lato, Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

p {
	margin: 0;
}

@media (max-width: 768px) {
	.sm-hide {
		display: none;
	}
}

.load_more_btn {
	background-color: #242424;
	color: white;
	padding: 12px 24px;
	display: block;
	outline: none;
	border: none;
	border-radius: 4px;
	margin: 12px auto;
	cursor: pointer;
}

.load_more_btn:hover {
	background-color: black;
}

.pointer {
	cursor: pointer;
}

.link {
	text-decoration: none;
}
