html,
body {
	padding: 0;
	margin: 0;
	font-family: Lato, Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

p {
	margin: 0;
}

@media (max-width: 768px) {
	.sm-hide {
		display: none;
	}
}
